<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapStock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
        <!-- Load an icon library -->
        <div class="navbar">
            <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
            <!-- Add your company name here -->
            <span class="company-name">SnapStocks</span>
        </div>
        <h1>Quick Analysis</h1>
        <form action="/predict" method="post" >
            <input type="text" placeholder="Enter Security Symbol" id="stock_symbol" name="stock_symbol" required>
            <button type="submit">Check</button>
    </form>
    <div id="footer">
        © 2023 SnapStocks | Developed and maintained by Aman Sood
    </div>
  

</body>
</html>
